.env
*.pkl
*.pyc
*.db
*.db-journal
*.json
.*.swp
*.sqlite3
*.rdb

.mypy_cache/

audio/
server_contexts/
venv/

celerybeat-schedule

alembic/versions/

# I use this to jot down ideas sometimes but don't want to commit it
notes.txt
