version: "3.9"

services:
  bot:
    build:
      context: .
      dockerfile: ${APP_ROOT}/compose/Dockerfile
    image: dicebot
    command: /start-bot
    volumes:
      - ${APP_ROOT}:/app
    env_file:
      - .env
    depends_on:
      - redis
      - db

  db:
    image: postgres:alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB
      - POSTGRES_USER
      - POSTGRES_PASSWORD

  redis:
    image: redis:alpine

  celery_worker:
    build:
      context: .
      dockerfile: ${APP_ROOT}/compose/Dockerfile
    image: celery_worker
    command: /start-celeryworker
    volumes:
      - ${APP_ROOT}:/app
    env_file:
      - .env
    depends_on:
      - redis
      - db

  # Not currently used
  # celery_beat:
  #   build:
  #     context: .
  #     dockerfile: ${APP_ROOT}/compose/Dockerfile
  #   image: celery_beat
  #   command: /start-celerybeat
  #   volumes:
  #     - ${APP_ROOT}:/app
  #   env_file:
  #     - .env
  #   depends_on:
  #     - redis
  #     - db

  web:
    build:
      context: .
      dockerfile: ${APP_ROOT}/compose/Dockerfile
    image: dicebot_web
    command: /start-web
    volumes:
      - ${APP_ROOT}:/app
    env_file:
      - .env
    depends_on:
      - redis
      - db
      - bot

volumes:
  postgres_data:
    driver: local
