# For dicebot
aiohttp[speedups]~=3.7
aiosqlite~=0.17
alembic~=1.8
asyncpg~=0.27
celery~=5.2
discord.py~=2.1
hypercorn~=0.14
ipython~=8.7
MemePy~=1.2
psycopg2-binary~=2.9
python-dateutil~=2.8
python-dotenv~=0.21
pytube~=15.0
pytz~=2022.6
redis~=3.5
sqlalchemy~=2.0.0b3
tldrwl>=2.0.0,<3.0.0


# Additional requirements for web
quart~=0.18
stytch~=6.1

# For type checking and testing
coverage
mypy
pyright
types-pytz
