<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}Discord Dicebot{% endblock %}</title>

  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">


  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

  {% block styles %}
  {% endblock %}
  <script>
  filterTable = function(searchElem, tableId) {
    // Get the search query
    var query = searchElem.value.toLowerCase();

    // Get the rows of the table
    var tableElem = document.getElementById(tableId);
    var rows = tableElem.querySelectorAll("table tr");

    // Loop through each row of the table
    for (var i = 0; i < rows.length; i++) {
      // Get the cells in the row
      var cells = rows[i].querySelectorAll("td");
      if (cells.length === 0) {
        continue;
      }
      var key = cells[0].textContent.toLowerCase();
      // Show or hide the row based on the search result
      if (key.indexOf(query) >= 0) {
        rows[i].style.display = "";
      } else {
        rows[i].style.display = "none";
      }
    }
  }

  </script>
  {% block scripts %}
  {% endblock %}
</head>

<body>
  <div class="app">
    <div class="alerts-list">
      {% for category, message in get_flashed_messages(with_categories=True) %}
      <div class="alert {{ category }}">
          {% if category == "alert-success" %}
          <span>✅</span>
          {% elif category == "alert-warning" %}
          <span>⚠️</span>
          {% elif category == "alert-danger" %}
          <span>❗️</span>
          {% endif %} {{ message }}
        </div>
      {% endfor %}
    </div>

    <div>
      <a href="{{ url_for('home') }}">Home</a>
      <span class="divider">|</span>
      {% if not user %}
      <a href="{{ url_for('login') }}">Log in</a>
      <span class="divider">|</span>
      <a href="{{ url_for('help') }}">Help</a>
      <span class="divider">|</span>
      {% endif %}
      <a href="{{ url_for('list') }}">List all servers</a>
    </div>

    {% if user %}
    <div>
      <h2>Logged in as <img class="img-inline" src='{{ user.display_avatar }}' alt='display avatar'> {{ user.name }}</h2>
      {% block loginhook %}
      <a href="{{ url_for('list') }}">Click here to see all servers</a>
      {% endblock %}
    </div>

    <hr>
    {% endif %}

    {% block body %} {% endblock %}
  </div>
</body>

</html>
