{% extends "base.html" %} 
{% block loginhook %}
<a href="{{ url_for('login') }}">Click here to login as a different user</a>
{% endblock %}

{% block body %}
<h1 class="page-title">Relevant servers</h1>
{% if guilds %}
  <input class="search" type="text" id="search" placeholder="Search guilds" oninput="filterTable(this, 'guilds')">
  <table id="guilds">
    {% for guild in guilds %}
    <tr>
      <td><b>{{ guild.ctx.discord.name }}</b></td>
      <td><a href='{{ url_for("macros", guild_id=guild.ctx.db.id) }}'>Macros</a></td>
      <td>
        {% if guild.is_admin %}
          <a href='{{ url_for("admin", guild_id=guild.ctx.db.id) }}'>Admin</a>
        {% endif %}
      </td>
      </span>
    </tr>
    {% endfor %}
  </table>
{% else %}
  <p class="info">You are not a member of any guilds known to this bot</p>
{% endif %}
{% endblock %}
