{% extends "base.html" %} {% block body %}
<h1>{{ ctx.discord.name }} macros</h1>
<form method="post">
  <div class="form-row">
    <label for="key">Macro key:</label>
    <input type="text" id="key" name="key" />
  </div>

  <div class="form-row">
    <label for="value">Macro value:</label>
    <input type="text" id="value" name="value" />
  </div>

  <div class="form-row">
    <input type="submit" />
  </div>
</form>

<hr />

{% if fetched_macros %}
<input class="search" type="text" id="search" placeholder="Search macros" oninput="filterTable(this, 'macros')">

<table id="macros">
  <tr>
    <th>Key</th>
    <th>Value</th>
  </tr>
  {% for macro in fetched_macros %}
  <tr>
    <td>{{ macro.key }}</td>
    <td>
    {% if macro.is_image() %}
      <img class="img-macro" src='{{ macro.value }}'>
    {% else %}
      {{ macro.value }}
    {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p class="info">There are no macros defined for this server yet.</p>
{% endif %}
{% endblock %}

{% block scripts %}
{% endblock %}
